@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$amber: #fca80b;
$beige: #feedce;
$darkBlue: #2b5580;
$lightBlue: #4fd5f8;

$lightBlueTint: rgba(79,213,248,0.2);
$amberTint: rgba(252,168,11,0.2);
$darkBlueTint: rgba(43,85,128,0.2);

$darkGrey: #ccc;
$lightGrey: #ededed;
