@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$amber: #fca80b;
$darkBlue: #2b5580;
$lightBlue: #4fd5f8;
