.customer-profile {
  background-image: url('/images/bubbles.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 765px;

  .panel-primary {
    margin-top: 55px;
  }

  h3.panel-title {
    font-size: 4vw;
    text-align: center;
  }

  .date-time-label {
    position: relative;
    bottom: 10px;
  }

  .panel-body {
    margin-top: 20px;

    .breadcrumb {
      margin-top: 20px;
    }

    .click-input {
      margin-right: 15px;
    }

    .home-btn {
      margin-bottom: 35px;
    }

    .send-btn {
      margin-bottom: 10px;
    }

    .panel-body {
      padding: 15px 20px;
    }

    .nav-tabs {
      margin-bottom: 15px;
    }

    .payment {

      li {
        padding: 15px 0px;
      }
    }

    button.StripeCheckout {
      background: transparent !important;
      box-shadow: none !important;

      span {
        background-image: none !important;
        color: blue !important;
        height: 15px !important;
        line-height: 15px !important;

      }
    }
  }

  .react-bs-table-container {
    margin-top: 20px;
  }

  .react-datepicker {
    font-size: 1.1rem;
  }

  .react-datepicker__input-container {
    height: 34px;

    input {
      padding: 6px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }
}
