.customer-profile {
  background-image: url('/images/bubbles.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 765px;

  .welcome-customer {
    margin-top: 100px;
  }


  h3.panel-title {
    font-size: 3vw;
  }

  ul.nav.nav-tabs {
    margin-bottom: 0px;
  }


  li.active #controlled-tab-example-tab-1 {
    border: 1px solid #337ab7;
    background-color: #337ab7;
    color: white;
  }

  li.active #controlled-tab-example-tab-2 {
    border: 1px solid #337ab7;
    background-color: #337ab7;
    color: white;
  }

  li.active #controlled-tab-example-tab-3 {
    border: 1px solid #337ab7;
    background-color: #337ab7;
    color: white;
  }

  .nav>li>a {
    padding: 10px 7px;
  }


  .order-form-panel .panel-body {
    padding: 0px;

    .order-services .pager {
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .order-date-time {
      .order-date {
        padding-left: 0px;
      }

      .order-time {
        padding-right: 0px;
      }
    }
  }

  .order-payment .page-header {
    margin-top: 0px;
  }

  .order-summary .panel.panel-default {
    margin-top: 0px;
    margin-bottom: 20px;

    .row {
      margin-bottom: 10px;
    }

    .panel-body {
      padding: 20px;
      background-color: #f5f5f5;
    }

    i.fa {
      font-size: 45px;
      color: #337ab7;
    }

    .order-divider {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1px solid #ccc;
    }

    .order-load-img {
      width: 55px;
      padding-bottom: 10px;
    }

    .col-sm-8 p {
      position: relative;
      top: 13px;
    }

    .order-total {
      p {
        padding-top: 10px;
        margin-bottom: 20px;
      }
    }

    .total-stripe-box {
      background-color: white;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }

  // button.StripeCheckout {
  //   background: transparent !important;
  //   box-shadow: none !important;
  //   background-color: #dff0d8;
  //
  //   span {
  //     background-image: none !important;
  //     color: blue !important;
  //     height: 15px !important;
  //     line-height: 15px !important;
  //
  //   }
  // }

  .page-header.order-status-header {
    padding-bottom: 0px;
    margin: 0px;
  }

  .panel.panel-default {
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .order-status {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 856px;
  }


  .popover-info {
    .panel-primary {
      border-color: #99bcdb;
    }

    .panel-primary>.panel-heading {
      background-color: #adc9e2;
      border-color: #adc9e2;
    }

    .panel {
      margin-bottom: 0px;
    }


    .queue-font-color p strong {
      color: #337ab7;
    }

    .pickup-font-color p strong {
      color: #5cb85c;
    }

    .cleaning-font-color p strong {
      color: #f0ad4e;
    }

    .dropoff-font-color p strong {
      color: #c34a47;
    }
  }

  .arrow-up-lightblue {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    border-bottom: 12px solid #d9edf7;
    left: 4%;
  }

  .arrow-up-green {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    border-bottom: 12px solid #dff0d8;
    left: 23%;
  }

  .arrow-up-yellow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    border-bottom: 12px solid #fcf8e3;
    left: 53%;
  }

  .arrow-up-red {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    border-bottom: 12px solid #f2dede;
    left: 81%;
  }

  .progress-bar-info {
    background-color: #ccc;
  }

  .progress {
    margin-top: 30px;
    height: 30px;
    margin-bottom: 8px;
    text-align: center;

    .progress-bar {
      padding: 5px;
    }
  }

  .complete-table {
    .btn.btn-link {
      padding: 0px 12px;
    }
  }
}
