.home {

  background-image: url('/images/laundry.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 765px;

  .welcome {
    text-align: center;
    color: white;
    margin-top: 20%;

    h1 {
      padding-bottom: 20px;
      font-size: 4vw;
    }

    .btn-lrg {
      padding: 14px 20px;
      font-size: 24px;
    }
  }
}
