.user-login {
  position: absolute;
  z-index: 1 !important;


  .login-header {
    .page-header {
      padding-bottom: 9px;
      margin: 50px 0 40px;
      border-bottom: 1px dotted $darkBlue;
      color: #2b5580;

      h1 {
        font-weight: bold;
      }
    }
  }








  #loginTabs {
    .nav-tabs>li {
      width: 50%;
    }

    .glyphicon {
      font-size: 20px;
    }

    .input-lg {
      font-size: 14px;
    }

    .btn-actions {
      margin-bottom: 10px;
    }

    #loginTabs-tab-1 {
      color: $darkBlue;
      background-color: $amber;
      border: 1px solid $amber;
      border-bottom-color: transparent;
      font-weight: bold;
      @include transition(background-color 0.75s ease, color 0.75s ease);

      &:hover {
        background-color: #e29709;
        color: white;
      }
    }

    #loginTabs-tab-2 {
      color: $darkBlue;
      background-color: $lightBlue;
      border: 1px solid $lightBlue;
      border-bottom-color: transparent;
      font-weight: bold;
      @include transition(background-color 0.75s ease, color 0.75s ease);

      &:hover {
        background-color: #47bfdf;
        color: white;
      }
    }





    .tab-content {
      border-radius: 0px 4px 4px 4px;

      #loginTabs-pane-1 {
        padding: 40px;
        background-color: rgba(252, 168, 11, 0.2);
        border: 1px solid $amber;
        .btn-primary {
          background-color: $amber;
          border-color: $amber;
          color: $darkBlue;
          font-weight: bold;
          -moz-box-shadow: 0px 0px 3px #888;
          -webkit-box-shadow: 0px 0px 3px #888;
          box-shadow: 0px 0px 3px #888;
          @include transition(background-color 0.75s ease, color 0.75s ease);


          &:hover, &:focus {
            color: white;
            background-color: #e29709;;
          }
        }

        .input-group-addon {
          color: $darkBlue;
          font-size: 20px;
        }
      }

      #loginTabs-pane-2 {
        padding: 40px;
        background-color: rgba(79,213,248,0.2);
        border: 1px solid $lightBlue;

        .btn-primary {
          background-color: $lightBlue;
          border-color: $lightBlue;
          color: $darkBlue;
          font-weight: bold;
          -moz-box-shadow: 0px 0px 3px #888;
          -webkit-box-shadow: 0px 0px 3px #888;
          box-shadow: 0px 0px 3px #888;
          @include transition(background-color 0.75s ease, color 0.75s ease);


          &:hover, &:focus {
            color: white;
            background-color: #47bfdf;
          }
        }

        .input-group-addon {
          color: $darkBlue;
          font-size: 20px;
        }
      }
    }





  }
}
