.user-login {
  position: absolute;
  z-index: 1 !important;


  .panel-title {
    font-size: 4vw;
    text-align: center;
  }

  .panel-primary {
    margin-top: 100px;
    border-color: #ccc;

    .panel-body {
      padding: 50px;
    }

    .panel-heading {
      background-color: $darkBlue;
      border-color: $darkBlue;
    }

    .btn-primary {
      background-color: $amber;
      border-color: $amber;
    }


    #loginTabs {
      .tab-content {
        background-color: white;
        padding: 30px;
        border-left: 1px solid $lightBlue;
        border-right: 1px solid $lightBlue;
        border-bottom: 1px solid $lightBlue;
      }
    }

    .nav-tabs>li.active>a {
      background-color: $lightBlue;
      color: white;
      // border-left: 1px solid $darkBlue;
      // border-right: 1px solid $darkBlue;
      // border-top: 1px solid $darkBlue;
    }

    .nav-tabs>li>a {
      background-color: #e5e5e5;
      color: $darkBlue;
      text-align: center;
    }

    .nav-tabs>li {
      width: 50%;
    }

    .nav-tabs {
      border-bottom: 1px solid $darkBlue;
    }

    .input-group-addon {
      background-color: $lightBlue;
    }

    .glyphicon {
      color: white;
      font-size: 20px;
    }
  }

  .input-lg {
    font-size: 14px;
  }

  .btn-actions {
    margin-bottom: 10px;
  }

}
