.user-login {
  position: absolute;
  z-index: 1 !important;

  background-image: url('/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 765px;

  .panel-title {
    font-size: 4vw;
    text-align: center;
  }

  .panel-primary {
    margin-top: 100px;
  }

  .nav-tabs, .form-group {
    margin-bottom: 25px;
  }

  .input-lg {
    font-size: 14px;
  }

  .btn-actions {
    margin-bottom: 10px;
  }

}
