html, body, #app, #app>div {
  height: 100% !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

.main {

  .container-fluid.children {
    padding: 0px !important;
    margin: 0px !important;
  }

  .expand-row thead {
    background-color: #e5e5ea;
  }

  .tr-odd {
    background-color: #f4f4f6 !important;
  }

  .toast {
    z-index: 3 !important;
  }
}
