html, body, #app {
  height: 100% !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

.main {
  height: 100%;
  
  .children {
    height: 100%;
  }

  .expand-row thead {
    background-color: #e5e5ea;
  }

  .tr-odd {
    background-color: #f4f4f6 !important;
  }

  .toast {
    z-index: 3 !important;
  }


  #myFooter {
      background-color: #337ab7;
      color: white;
      padding-top: 10px;
      padding-bottom: 8px;
  }

  #myFooter p {
    margin-top: 10px;
  }

  #myFooter a {
      color: #d2d1d1;
      text-decoration: none;
  }

  #myFooter a:hover,
  #myFooter a:focus {
      text-decoration: none;
      color: white;
  }


  #myFooter .btn {
      color: white;
      background-color: lightgrey;
      border-radius: 20px;
      border: none;
      width: 150px;
      display: block;
      margin: 0 auto;
      line-height: 25px;
  }
}
