 /* Extra Small Devices, Phones */
 @media only screen and (max-width : 480px) {
   #navbar-collapse-1 {
     a {
       &:hover, &:focus {
         background-color: $darkBlue;
       }
     }

     .navbar-nav>.open>a:focus {
       color: $lightBlue;
     }

    .open .dropdown-menu {
      background-color: #ededed;
      border-radius: 4px;
      margin-bottom: 10px;
    }

     .open .dropdown-menu>li>a {
       color: #333;
     }

     .navbar-nav.navbar-right {
       margin-right: 0px;
     }

     .navbar-nav.navbar-right>li {
       border-bottom: 1px dotted $amber;
     }
   }


   .navbar-brand {
     padding-left: 0px;

     .logo-img img {
       width: 58px;
       position: relative;
       top: -12px;
       border-radius: 4px;
       padding: 5px;
     }

     .company-img img {
       width: 170px;
       position: relative;
       top: -4px;
       right: 5px;
       border-radius: 4px;
       padding: 5px;
     }
   }

   .top-nav {

     .navbar-fixed-top {
       z-index: 2 !important;
     }

     .navbar-default {
       background-color: $darkBlue;
       border-color: $darkBlue;
       -moz-box-shadow: 0px 0px 3px #333;
       -webkit-box-shadow: 0px 0px 3px #333;
       box-shadow: 0px 0px 3px #333;
     }

     .navbar-nav > li > a.active-link {
       color: $lightBlue;
       font-weight: bold;
     }

     .navbar-nav > li > a {
       color: white;
       padding-top: 20px;
       padding-bottom: 20px;

       @include transition(color 0.75s ease);
       &:hover, &:focus {
         color: $lightBlue;
         text-decoration: none;
         background-color: transparent;
       }
     }

     .navbar-nav.navbar-right {
       margin-right: 30px;
     }

   }
 }




 @media only screen and (min-width : 481px) {
   .navbar-brand {
     padding: 17px 15px 32px;

     .logo-img img {
       width: 75px;
       position: relative;
       top: -14px;
       border-radius: 4px;
       padding: 5px;
     }

     .company-img img {
       width: 270px;
       position: relative;
       top: -5px;
       border-radius: 4px;
       padding: 5px;
     }
   }

   .top-nav {
     .navbar-brand {
       padding: 15px 15px 41px;
     }

     .navbar-fixed-top {
       z-index: 2 !important;
     }

     .navbar-default {
       background-color: $darkBlue;
       border-color: $darkBlue;
       -moz-box-shadow: 0px 0px 4px #333;
       -webkit-box-shadow: 0px 0px 4px #333;
       box-shadow: 0px 0px 4px #333;
     }

     .navbar-nav > li > a.active-link {
       color: $lightBlue;
       font-weight: bold;
     }

     .navbar-nav > li > a {
       color: white;

       @include transition(color 0.75s ease);
       &:hover, &:focus {
         color: $lightBlue;
         text-decoration: none;
         background-color: transparent;
       }
     }

     .navbar-nav.navbar-right {
       margin-right: 30px;
     }

   }
 }
