@media only screen and (max-width : 480px) {
  .reset-password {
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;

    .reset-header {
      margin-bottom: 20px;
      margin-top: 20px;

      .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 2px dotted #fca80b;
        color: #2b5580;

        h1 {
          font-weight: bold;
          font-size: 37px;
        }
      }

      i.fa {
        font-size: 13rem;
        color: $darkBlue;
        padding: 13px 37px;
        display: inline-block;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        -moz-box-shadow: 0px 0px 3px #888;
        -webkit-box-shadow: 0px 0px 3px #888;
        box-shadow: 0px 0px 3px #888;
        background-color: rgba(79,213,248,0.2);
        border: 1px solid $lightBlue;
      }
    }

    .input-group-addon {
      background-color: #ededed;
      color: $amber;

      .glyphicon {
        font-size: 24px;
      }
    }

    .btn-primary {
      background-color: $lightBlue;
      border: 1px solid #ccc;
      color: #333;
      font-weight: bold;
    }
  }
}





@media only screen and (min-width : 481px) {
  .reset-password {
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;

    .reset-header {
      margin-bottom: 40px;

      .page-header {
        padding-bottom: 9px;
        margin: 40px 0 40px;
        border-bottom: 2px dotted #fca80b;
        color: #2b5580;

        h1 {
          font-weight: bold;
          font-size: 50px;
        }
      }

      i.fa {
        font-size: 13rem;
        color: $darkBlue;
        padding: 13px 37px;
        display: inline-block;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        -moz-box-shadow: 0px 0px 3px #888;
        -webkit-box-shadow: 0px 0px 3px #888;
        box-shadow: 0px 0px 3px #888;
        background-color: rgba(79,213,248,0.2);
        border: 1px solid $lightBlue;
      }
    }

    .input-group-addon {
      background-color: #ededed;
      color: $amber;

      .glyphicon {
        font-size: 24px;

      }
    }

    .btn-primary {
      background-color: $lightBlue;
      border: 1px solid #ccc;
      color: #333;
      font-weight: bold;
    }
  }
}
